body {
    background-color: #1B2430;
}

.desc {
    text-align: center;
    color: #1B2430;
}

.footer {
    text-align: center;
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    width: 100%;
}

a {
    color: cadetblue;
    text-decoration: none;
}

a:hover {
    color: green;
    transition: 0.5s;
}