body {
    background: #1B2430;
}
.desc {
    text-align: center;
    color: #1B2430;
}
.row {
    color:whitesmoke;
    text-align: center;
}
.jumbotron {
    width: auto;
}
.footer {
    text-align: center;
    color: white;
}

a {
    color: cadetblue;
    text-decoration: none;
}

a:hover {
    color: green;
    transition: 0.5s;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    width: 100%;
}

.jumbotron {
    color: #FFFF;
}